header nav {
    display: flex;
    flex-direction: row; /* default */
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1; /* If there's extra room, I want it */
}

header {
    display: flex;
    align-content: stretch;
    align-items: stretch;
}
/* 
header nav a {
    flex-grow: 1;
} */

header nav a.active {
    /* align-self: flex-start; */
    flex-shrink: 1;
    /* order: 100; */
}

div.questionContainer {
    display: flex;
    flex-wrap: wrap;
}

.questionContainer article {
    width: 250px;
    max-width: 400px;
    flex-grow: 1;
    /* flex-shrink: 1; */
}